* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Fira Mono';
  src: url('/fira-mono.woff2');
}

body {
  font-family: 'Fira Mono', monospace;
  font-size: 1.2em;
  padding: 1em;
  width: 95%;
}

@media (min-width: 1024px) {
  body {
    font-size: 1.4em;
  }
}


h1 {
  margin-bottom: 0;
}

p.subtitle {
  font-style: italic;
}

h3 {
  font-size: 1.5em;
}

pre {
  white-space: pre-wrap;
}
